### Importing Required Libraries

In [20]:
import pandas as pd
import tweepy
from tweepy import OAuthHandler
from tweepy import StreamListener
from tweepy import Stream
import csv

## Specifing keys and tokens 

### Getting key and token from twitter developer account

In [21]:
consumer_key='__________________________'
consumer_secret = '______________________________________'
access_token = '______________________________________________'
access_token_secret = '___________________________________________'

## Getting authentication from twitter using keys and token

In [22]:
# authorization key
auth=OAuthHandler(consumer_key,consumer_secret)

In [23]:
# access keys
auth.set_access_token(access_token, access_token_secret)

### Declaring class for handling stream data

In [24]:
class tweet(StreamListener):
    
    def on_status(self,status):
        if (status.retweeted):
            return True
        
        User_id=status.id_str
        User_name=status.user.screen_name
        User_description=status.user.description
        Tweet=status.text
        User_loc=status.user.location
        
        followers=status.user.followers_count
        
        with open("streamed_tweets.csv",mode='a',newline='\n',encoding='utf-8') as f:
            writer=csv.writer(f)
            writer.writerow([User_id,User_name,User_description,Tweet,User_loc,followers])
            
    def on_error(self,status):
        print(status)
Listner = tweet()

In [25]:
stream = Stream(auth=auth,listener=Listner)

## Live Stream data for Corona-Virus using different hashtags

In [34]:
stream.filter(track=['coronoavirus','CoronavirusOutbreak','coronavirusPH','WuhanVirus','CoronaVirus'
                    ,'ChinaVirus','ChinaCoronaVirus'])

### creating dataframe

In [27]:
df = pd.read_csv('Streamed_Tweets.csv', delimiter=',', sep=',', )
df

,1221015540698734592,lilyperiwinkle,Unnamed: 2,RT @iffahs_: Yayyy we‚Äôre fucked ü•≥ü•≥,Malaysia,646
0,1221015540854087681,Sedat_snk,appelez moi Ken Kitano,RT @BryanHumanite: Le coronavirus quand il va ...,Mirio,33
1,1221015540761681921,Enmingyan,"Funny, loveable, loves2eat, compassionate, str...",RT @CGTNOfficial: #Wuhan city will build a sec...,Philippines,364
2,1221015540983975941,_zulaikaa_,NaN,RT @KKMPutrajaya: Statistik kematian dan kes n...,NaN,165
3,1221015541042671617,Patty_Mintnie,‚ù§ @B_hundred_Hyun ‚ù§,RT @kimaztueo: ‡πÑ‡∏°‡πà‡πÑ‡∏î‡πâ‡∏à‡∏∞‡πÄ‡∏Ç‡πâ‡∏≤‡∏Ç‡πâ‡∏≤‡∏á‡∏à‡∏µ‡∏ô‡∏≠‡∏∞‡πÑ‡∏£‡∏ô‡∏∞ ‡πÄ‡∏û‡∏£‡∏≤‡∏∞...,NaN,359
4,1221015540967198720,YonLikeThem,"Hidup ini memang palat,tapi esok masih ada",RT @v_shakthi: Wearing a face mask does help i...,AOR - KUL,521
...,...,...,...,...,...,...
31072,1221019306491699201,jeharraaaa,NaN,hoy mangahadlok man sad ta aning coronavirus c...,k,220
31073,1221019306403803141,CountVictor,"""ŸàŸéÿ•Ÿêÿ∞Ÿí ÿ¨ŸéÿπŸéŸÑŸíŸÜŸéÿß ÿßŸÑŸíÿ®ŸéŸäŸíÿ™Ÿé ŸÖŸéÿ´Ÿéÿßÿ®Ÿéÿ©Ÿã ŸÑŸëŸêŸÑŸÜŸëŸéÿß...","RT @anasalhajji: Despite #SARSvirus in 2003, #...",Kingdom of Saudi Arabia,141
31074,1221019306537910272,Tin_Freitas,"""Cando me falan de Espa√±a sempre te√±o unha dis...",RT @Garankor: Im√°genes de c√≥mo se desarrolla e...,Atlantis,209
31075,1221019306596667397,GuilleuxK,Fortnite player üá´üá∑ | 19y | top 20 GAHE,RT @NihiSN: Le m√©chant coronavirus quand il es...,"Savigny-L√©vescault, France",7
31076,1221019306864955392,NPimpak,i wanna be your favorite person.,RT @Immxxk: ‡∏™‡∏£‡∏∏‡∏õ‡∏Ñ‡∏≥‡∏™‡∏±‡πà‡∏á‡∏à‡∏µ‡∏ô\n- ‡∏õ‡∏ò‡∏ô.‡∏™‡∏µ ‡∏à‡∏¥‡πâ‡∏ô‡∏ú‡∏¥‡∏á‡∏™‡∏±‡πà...,NaN,66

### providing column name

In [28]:
df.columns = ['User_id', 'User_Name', 'User_Description', 'Tweet', 'loc', 'followers']

In [29]:
df

,User_id,User_Name,User_Description,Tweet,loc,followers
0,1221015540854087681,Sedat_snk,appelez moi Ken Kitano,RT @BryanHumanite: Le coronavirus quand il va ...,Mirio,33
1,1221015540761681921,Enmingyan,"Funny, loveable, loves2eat, compassionate, str...",RT @CGTNOfficial: #Wuhan city will build a sec...,Philippines,364
2,1221015540983975941,_zulaikaa_,NaN,RT @KKMPutrajaya: Statistik kematian dan kes n...,NaN,165
3,1221015541042671617,Patty_Mintnie,‚ù§ @B_hundred_Hyun ‚ù§,RT @kimaztueo: ‡πÑ‡∏°‡πà‡πÑ‡∏î‡πâ‡∏à‡∏∞‡πÄ‡∏Ç‡πâ‡∏≤‡∏Ç‡πâ‡∏≤‡∏á‡∏à‡∏µ‡∏ô‡∏≠‡∏∞‡πÑ‡∏£‡∏ô‡∏∞ ‡πÄ‡∏û‡∏£‡∏≤‡∏∞...,NaN,359
4,1221015540967198720,YonLikeThem,"Hidup ini memang palat,tapi esok masih ada",RT @v_shakthi: Wearing a face mask does help i...,AOR - KUL,521
...,...,...,...,...,...,...
31072,1221019306491699201,jeharraaaa,NaN,hoy mangahadlok man sad ta aning coronavirus c...,k,220
31073,1221019306403803141,CountVictor,"""ŸàŸéÿ•Ÿêÿ∞Ÿí ÿ¨ŸéÿπŸéŸÑŸíŸÜŸéÿß ÿßŸÑŸíÿ®ŸéŸäŸíÿ™Ÿé ŸÖŸéÿ´Ÿéÿßÿ®Ÿéÿ©Ÿã ŸÑŸëŸêŸÑŸÜŸëŸéÿß...","RT @anasalhajji: Despite #SARSvirus in 2003, #...",Kingdom of Saudi Arabia,141
31074,1221019306537910272,Tin_Freitas,"""Cando me falan de Espa√±a sempre te√±o unha dis...",RT @Garankor: Im√°genes de c√≥mo se desarrolla e...,Atlantis,209
31075,1221019306596667397,GuilleuxK,Fortnite player üá´üá∑ | 19y | top 20 GAHE,RT @NihiSN: Le m√©chant coronavirus quand il es...,"Savigny-L√©vescault, France",7
31076,1221019306864955392,NPimpak,i wanna be your favorite person.,RT @Immxxk: ‡∏™‡∏£‡∏∏‡∏õ‡∏Ñ‡∏≥‡∏™‡∏±‡πà‡∏á‡∏à‡∏µ‡∏ô\n- ‡∏õ‡∏ò‡∏ô.‡∏™‡∏µ ‡∏à‡∏¥‡πâ‡∏ô‡∏ú‡∏¥‡∏á‡∏™‡∏±‡πà...,NaN,66

In [36]:
df.loc[:,'Tweet'][6]

'RT @WSJ: A doctor who worked at a hospital in Wuhan, where coronavirus patients are being treated, died Saturday morning. The pneumonia-cau‚Ä¶'