Data extraction from website of New Delhi city from (2013-2018)
In this sheet have done webscrapping of 2013 year only and these steps have been follwing same for other years
Website from where i have data extraction have also different cities so you can choose cities accordingly

In [6]:
# Importing all Important libraries

In [7]:
import requests
import pandas as pd

In [13]:
# Url From where we Fetch the data

In [14]:
url='-------------------------------'

In [17]:
# Getting the data

In [18]:
response=requests.get(url)

In [19]:
# getting the status from website so that we download the webpages

In [20]:
response.status_code

200

In [22]:
# data we get from webpage

In [23]:
data=pd.read_html('-----------------------------------')
for df in data:
    print(df)

         0        1     2      3                               4
0  Weather  Climate  Asia  India  Climate New Delhi / Safdarjung
         0     1        2        3
0  Climate  2013  January  Weather
                          Day                          T  \
0                           1                        9.1
1                           2                        7.4
2                           3                        7.8
3                           4                        NaN
4                           5                        NaN
5                           6                        NaN
6                           7                        6.7
7                           8                        8.6
8                           9                       12.4
9                          10                        NaN
10                         11                        NaN
11                         12                        NaN
12                         13                         16
13                         14                       13.4
14                         15                       14.3
15                         16                        NaN
16                         17                        NaN
17                         18                        NaN
18                         19                       12.7
19                         20                       11.9
20                         21                       12.2
21                         22                        NaN
22                         23                        NaN
23                         24                        NaN
24                         25                       13.4
25                         26                       12.3
26                         27                       13.7
27                         28                        NaN
28                         29                        NaN
29                         30                        NaN
30                         31                       14.9
31  Monthly means and totals:  Monthly means and totals:
32                        NaN                       12.1

                           TM                         Tm  \
0                        15.3                          4
1                         9.8                        4.8
2                        12.7                        4.4
3                         NaN                        NaN
4                         NaN                        NaN
5                         NaN                        NaN
6                        13.4                        2.4
7                        15.5                        3.3
8                        20.9                        4.4
9                         NaN                        NaN
10                        NaN                        NaN
11                        NaN                        NaN
12                       25.2                         10
13                         21                        9.2
14                       22.6                        6.6
15                        NaN                        NaN
16                        NaN                        NaN
17                        NaN                        NaN
18                       18.9                        7.3
19                       18.9                        6.3
20                       19.9                        6.2
21                        NaN                        NaN
22                        NaN                        NaN
23                        NaN                        NaN
24                       21.1                        5.6
25                       21.4                        6.4
26                         22                          7
27                        NaN                        NaN
28                        NaN                        NaN
29                        NaN                        NaN
30                       21.9                        7.1
31  Monthly means and totals:  Monthly means and totals:
32                       19.7                        6.2

                          SLP                          H  \
0                      1015.6                         90
1                      1017.6                         93
2                      1018.5                         87
3                         NaN                        NaN
4                         NaN                        NaN
5                         NaN                        NaN
6                      1019.4                         82
7                      1018.7                         72
8                      1017.3                         61
9                         NaN                        NaN
10                        NaN                        NaN
11                        NaN                        NaN
12                     1013.2                         79
13                     1015.1                         87
14                     1016.3                         76
15                        NaN                        NaN
16                        NaN                        NaN
17                        NaN                        NaN
18                     1021.2                         76
19                     1020.1                         76
20                       1021                         69
21                        NaN                        NaN
22                        NaN                        NaN
23                        NaN                        NaN
24                       1020                         60
25                     1019.6                         70
26                     1018.2                         63
27                        NaN                        NaN
28                        NaN                        NaN
29                        NaN                        NaN
30                     1018.3                         73
31  Monthly means and totals:  Monthly means and totals:
32                     1017.8                       75.1

                           PP                         VV  \
0                           0                        0.5
1                           0                        0.5
2                           0                        0.6
3                         NaN                        NaN
4                         NaN                        NaN
5                         NaN                        NaN
6                           0                        0.6
7                           0                        0.8
8                           0                        1.3
9                         NaN                        NaN
10                        NaN                        NaN
11                        NaN                        NaN
12                          0                        0.6
13                          0                        0.5
14                          0                        0.8
15                        NaN                        NaN
16                        NaN                        NaN
17                        NaN                        NaN
18                          0                        1.8
19                          0                        1.1
20                          0                        2.1
21                        NaN                        NaN
22                        NaN                        NaN
23                        NaN                        NaN
24                          0                        1.9
25                          0                        1.9
26                          0                        1.8
27                        NaN                        NaN
28                        NaN                        NaN
29                        NaN                        NaN
30                          0                        0.6
31  Monthly means and totals:  Monthly means and totals:
32                      21.59                        1.1

                            V                         VM  \
0                           0                          -
1                         4.3                        9.4
2                         4.4                       11.1
3                         NaN                        NaN
4                         NaN                        NaN
5                         NaN                        NaN
6                         4.8                       11.1
7                         8.1                       20.6
8                         8.7                       22.2
9                         NaN                        NaN
10                        NaN                        NaN
11                        NaN                        NaN
12                        4.8                       11.1
13                        1.5                        7.6
14                        0.4                        3.5
15                        NaN                        NaN
16                        NaN                        NaN
17                        NaN                        NaN
18                        6.1                       16.5
19                        8.3                       20.6
20                        4.4                       18.3
21                        NaN                        NaN
22                        NaN                        NaN
23                        NaN                        NaN
24                          8                       22.2
25                        6.7                       14.8
26                        7.2                       18.3
27                        NaN                        NaN
28                        NaN                        NaN
29                        NaN                        NaN
30                          2                        7.6
31  Monthly means and totals:  Monthly means and totals:
32                        4.6                       16.1

                           VG                         RA  \
0                           -                        NaN
1                           -                        NaN
2                           -                        NaN
3                         NaN                        NaN
4                         NaN                        NaN
5                         NaN                        NaN
6                           -                        NaN
7                           -                        NaN
8                           -                        NaN
9                         NaN                        NaN
10                        NaN                        NaN
11                        NaN                        NaN
12                          -                        NaN
13                          -                        NaN
14                          -                        NaN
15                        NaN                        NaN
16                        NaN                          o
17                        NaN                          o
18                          -                        NaN
19                          -                        NaN
20                          -                        NaN
21                        NaN                        NaN
22                        NaN                        NaN
23                        NaN                        NaN
24                          -                        NaN
25                          -                        NaN
26                          -                        NaN
27                        NaN                        NaN
28                        NaN                        NaN
29                        NaN                        NaN
30                          -                        NaN
31  Monthly means and totals:  Monthly means and totals:
32                        NaN                          2

                           SN                         TS  \
0                         NaN                        NaN
1                         NaN                        NaN
2                         NaN                        NaN
3                         NaN                        NaN
4                         NaN                        NaN
5                         NaN                        NaN
6                         NaN                        NaN
7                         NaN                        NaN
8                         NaN                        NaN
9                         NaN                        NaN
10                        NaN                        NaN
11                        NaN                        NaN
12                        NaN                        NaN
13                        NaN                        NaN
14                        NaN                        NaN
15                        NaN                        NaN
16                        NaN                          o
17                        NaN                        NaN
18                        NaN                        NaN
19                        NaN                        NaN
20                        NaN                        NaN
21                        NaN                        NaN
22                        NaN                        NaN
23                        NaN                        NaN
24                        NaN                        NaN
25                        NaN                        NaN
26                        NaN                        NaN
27                        NaN                        NaN
28                        NaN                        NaN
29                        NaN                        NaN
30                        NaN                        NaN
31  Monthly means and totals:  Monthly means and totals:
32                          0                          1

                           FG
0                           o
1                           o
2                           o
3                           o
4                           o
5                           o
6                           o
7                           o
8                         NaN
9                         NaN
10                        NaN
11                        NaN
12                          o
13                          o
14                          o
15                          o
16                        NaN
17                        NaN
18                          o
19                          o
20                          o
21                          o
22                          o
23                        NaN
24                        NaN
25                        NaN
26                        NaN
27                        NaN
28                        NaN
29                          o
30                          o
31  Monthly means and totals:
32                         19
      0                                                  1
0     T                           Average Temperature (°C)
1    TM                           Maximum temperature (°C)
2    Tm                           Minimum temperature (°C)
3   SLP            Atmospheric pressure at sea level (hPa)
4     H                      Average relative humidity (%)
5    PP              Total rainfall and / or snowmelt (mm)
6    VV                            Average visibility (Km)
7     V                          Average wind speed (Km/h)
8    VM                Maximum sustained wind speed (Km/h)
9    VG                       Maximum speed of wind (Km/h)
10   RA  Indicate if there was rain or drizzle (In the ...
11   SN  Snow indicator (In the monthly average, total ...
12   TS  Indicates whether there storm (In the monthly ...
13   FG  Indicates whether there was fog (In the monthl...

Steps followed to get the weather data for 2013

--> Reading the webPage from where we extract the data and reading the data for each data 
--> Reading the data in the html 
--> Convert the html Dataset into the Csv
--> Selecting the featuresthat i further use in the process
--> And droppping the unwanted rows 
--> concat the each month dataframe and converting the dataframe in the year data

In [24]:
df=pd.read_html(url)

In [27]:
# we need this table from the data we get from webpage

In [28]:
my_df=df[2]

In [29]:
my_df

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,9.1,15.3,4,1015.6,90,0,0.5,0,-,-,NaN,NaN,NaN,o
1,2,7.4,9.8,4.8,1017.6,93,0,0.5,4.3,9.4,-,NaN,NaN,NaN,o
2,3,7.8,12.7,4.4,1018.5,87,0,0.6,4.4,11.1,-,NaN,NaN,NaN,o
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
6,7,6.7,13.4,2.4,1019.4,82,0,0.6,4.8,11.1,-,NaN,NaN,NaN,o
7,8,8.6,15.5,3.3,1018.7,72,0,0.8,8.1,20.6,-,NaN,NaN,NaN,o
8,9,12.4,20.9,4.4,1017.3,61,0,1.3,8.7,22.2,-,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,16,25.2,10,1013.2,79,0,0.6,4.8,11.1,-,NaN,NaN,NaN,o
13,14,13.4,21,9.2,1015.1,87,0,0.5,1.5,7.6,-,NaN,NaN,NaN,o
14,15,14.3,22.6,6.6,1016.3,76,0,0.8,0.4,3.5,-,NaN,NaN,NaN,o
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,o,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
18,19,12.7,18.9,7.3,1021.2,76,0,1.8,6.1,16.5,-,NaN,NaN,NaN,o
19,20,11.9,18.9,6.3,1020.1,76,0,1.1,8.3,20.6,-,NaN,NaN,NaN,o
20,21,12.2,19.9,6.2,1021,69,0,2.1,4.4,18.3,-,NaN,NaN,NaN,o
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,13.4,21.1,5.6,1020,60,0,1.9,8,22.2,-,NaN,NaN,NaN,NaN
25,26,12.3,21.4,6.4,1019.6,70,0,1.9,6.7,14.8,-,NaN,NaN,NaN,NaN
26,27,13.7,22,7,1018.2,63,0,1.8,7.2,18.3,-,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
30,31,14.9,21.9,7.1,1018.3,73,0,0.6,2,7.6,-,NaN,NaN,NaN,o
31,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:
32,NaN,12.1,19.7,6.2,1017.8,75.1,21.59,1.1,4.6,16.1,NaN,2,0,1,19

In [30]:
# columns we are using in the dataframe
# usecols=['Day','T','TM','Tm','SLP','H','PP','VV','V','VM','VG','RA','SN','TS','FG']

In [31]:
# getting the data for the jan month

In [32]:
df_jan=pd.read_csv('D:\\new\\weather.csv',usecols=['Day','T','TM','Tm','SLP','H','PP','VV','V','VM','VG','RA','SN','TS','FG'])

In [33]:
df_jan

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,9.1,15.3,4.0,1015.6,90.0,0.0,0.5,0.0,-,-,NaN,NaN,NaN,o
1,2,7.4,9.8,4.8,1017.6,93.0,0.0,0.5,4.3,9.4,-,NaN,NaN,NaN,o
2,3,7.8,12.7,4.4,1018.5,87.0,0.0,0.6,4.4,11.1,-,NaN,NaN,NaN,o
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
6,7,6.7,13.4,2.4,1019.4,82.0,0.0,0.6,4.8,11.1,-,NaN,NaN,NaN,o
7,8,8.6,15.5,3.3,1018.7,72.0,0.0,0.8,8.1,20.6,-,NaN,NaN,NaN,o
8,9,12.4,20.9,4.4,1017.3,61.0,0.0,1.3,8.7,22.2,-,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,16.0,25.2,10.0,1013.2,79.0,0.0,0.6,4.8,11.1,-,NaN,NaN,NaN,o
13,14,13.4,21.0,9.2,1015.1,87.0,0.0,0.5,1.5,7.6,-,NaN,NaN,NaN,o
14,15,14.3,22.6,6.6,1016.3,76.0,0.0,0.8,0.4,3.5,-,NaN,NaN,NaN,o
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,o,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
18,19,12.7,18.9,7.3,1021.2,76.0,0.0,1.8,6.1,16.5,-,NaN,NaN,NaN,o
19,20,11.9,18.9,6.3,1020.1,76.0,0.0,1.1,8.3,20.6,-,NaN,NaN,NaN,o
20,21,12.2,19.9,6.2,1021.0,69.0,0.0,2.1,4.4,18.3,-,NaN,NaN,NaN,o
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,13.4,21.1,5.6,1020.0,60.0,0.0,1.9,8.0,22.2,-,NaN,NaN,NaN,NaN
25,26,12.3,21.4,6.4,1019.6,70.0,0.0,1.9,6.7,14.8,-,NaN,NaN,NaN,NaN
26,27,13.7,22.0,7.0,1018.2,63.0,0.0,1.8,7.2,18.3,-,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
30,31,14.9,21.9,7.1,1018.3,73.0,0.0,0.6,2.0,7.6,-,NaN,NaN,NaN,o

In [34]:
# url for the feb month and fetching data

In [35]:
url_feb='------------------------------'

In [36]:
# Reading the Html file

In [37]:
df_feb=pd.read_html(url_feb)

In [38]:
df_feb=df_feb[2]

In [39]:
# Converting the Html file into Csv

In [40]:
df_feb.to_csv('D:\\new\\weatherfeb.csv',index=False)

In [41]:
# Reading the csv file

In [42]:
df_feb=pd.read_csv('D:\\new\\weatherfeb.csv',usecols=['Day','T','TM','Tm','SLP','H','PP','VV','V','VM','VG','RA','SN','TS','FG'])

In [43]:
df_feb.head()

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,15,24,7.6,1017.4,81,0,0.6,2.2,7.6,-,NaN,NaN,NaN,o
1,2,16.3,24,12,1017.2,80,0,0.8,1.3,9.4,-,NaN,NaN,NaN,o
2,3,18.7,26.3,9.5,1015.3,64,0,1.6,1.7,7.6,-,o,NaN,NaN,o
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,o,NaN

In [44]:
# Dropping the rows that we donot need

In [45]:
df_feb.drop(df_feb.index[[28,29]],inplace=True)

In [46]:
df_feb

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,15,24,7.6,1017.4,81,0,0.6,2.2,7.6,-,NaN,NaN,NaN,o
1,2,16.3,24,12,1017.2,80,0,0.8,1.3,9.4,-,NaN,NaN,NaN,o
2,3,18.7,26.3,9.5,1015.3,64,0,1.6,1.7,7.6,-,o,NaN,NaN,o
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,o,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,14.6,21.6,9.4,1018.4,72,0,2.7,9.4,18.3,-,NaN,NaN,NaN,NaN
7,8,14.7,21.7,8.4,1017.1,71,0,1.8,10.9,22.2,-,NaN,NaN,NaN,NaN
8,9,14.8,22.6,8.5,1016.8,67,0,2.1,9.3,18.3,-,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,17.4,25.4,10.3,1015.8,63,0,1.9,6.7,14.8,-,NaN,NaN,NaN,NaN
13,14,18.1,26.7,10.2,1013.8,61,0,2.6,5,11.1,-,NaN,NaN,NaN,NaN
14,15,18.3,23.2,12.7,1011.2,75,0,1.9,10,22.2,-,o,NaN,o,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
18,19,16.4,22,11.2,1015.5,81,0,1.6,5.9,18.3,-,NaN,NaN,NaN,NaN
19,20,16.9,23.5,10.1,1016.8,80,0,1.3,5.2,22.2,-,NaN,NaN,NaN,o
20,21,19.3,26.9,12.1,1015.6,74,0,1.6,5.9,11.1,-,NaN,NaN,NaN,o
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,17.2,24.2,10.8,1018.3,74,0,2.6,4.6,14.8,-,NaN,NaN,NaN,NaN
25,26,17.7,26.5,9.8,1015.3,73,0,1.4,4.8,14.8,-,NaN,NaN,NaN,NaN
26,27,20.4,28.4,15.2,1014.7,62,0,2.4,5,14.8,-,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
# Reading the march Data

In [50]:
url_march='==============================='

In [51]:
df_mar=pd.read_html(url_march)

In [52]:
df_mar=df_mar[2]

In [53]:
df_mar.to_csv('D:\\new\\weathermar.csv',index=False)

In [54]:
df_mar=pd.read_csv('D:\\new\\weathermar.csv',usecols=['Day','T','TM','Tm','SLP','H','PP','VV','V','VM','VG','RA','SN','TS','FG'])

In [55]:
df_mar

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,18.2,26.1,12.2,1016.3,54,0,1.9,24.4,33.5,-,NaN,NaN,NaN,NaN
1,2,19,26.8,11.7,1016.3,58,0,2.6,16.7,29.4,-,NaN,NaN,NaN,NaN
2,3,18.7,27.8,13.3,1016.2,69,0,2.4,7.4,25.9,-,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,22.6,30.6,15.7,1015.4,62,0,2.6,8.1,20.6,-,NaN,NaN,NaN,NaN
7,8,22.5,31.8,13.7,1014.6,57,0,2.3,5.9,14.8,-,NaN,NaN,NaN,NaN
8,9,24,33.8,13.6,1009.7,53,0,1.9,4.6,18.3,-,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,23.8,33,14.9,1010.4,64,0,1.9,3.9,11.1,-,NaN,NaN,NaN,NaN
13,14,22.6,33,18.1,1013.1,67,0,2.1,11.3,22.2,-,NaN,NaN,NaN,NaN
14,15,23,30,14.4,1016.1,55,0,2.7,6.7,14.8,-,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,24.6,31.7,17.9,1008.5,68,0,2.3,14.1,27.8,-,NaN,NaN,NaN,NaN
19,20,27.1,34.8,17.7,1009.7,52,0,1.6,6.1,11.1,-,NaN,NaN,o,NaN
20,21,26.1,34.8,17.9,1008.8,54,0.51,2.6,11.9,18.3,-,NaN,NaN,NaN,NaN
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,23.6,34.3,17.7,1010.4,51,0,2.6,15.9,22.2,-,NaN,NaN,NaN,NaN
25,26,23.2,29.6,16.7,1008.6,54,0,1.9,13.1,22.2,-,NaN,NaN,NaN,NaN
26,27,23.8,30.9,16.7,1009,52,0,1.6,6.5,13,-,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31,24.7,31.5,17,1008.6,57,0,2.1,7.6,14.8,-,NaN,NaN,NaN,NaN
31,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:
32,NaN,23.2,31.6,15.9,1011.7,59.7,10.67,2.1,9.1,18.8,NaN,0,0,1,0

In [56]:
df_mar.drop(df_mar.index[[31,32]],inplace=True)

In [57]:
df_mar

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,18.2,26.1,12.2,1016.3,54,0,1.9,24.4,33.5,-,NaN,NaN,NaN,NaN
1,2,19,26.8,11.7,1016.3,58,0,2.6,16.7,29.4,-,NaN,NaN,NaN,NaN
2,3,18.7,27.8,13.3,1016.2,69,0,2.4,7.4,25.9,-,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,22.6,30.6,15.7,1015.4,62,0,2.6,8.1,20.6,-,NaN,NaN,NaN,NaN
7,8,22.5,31.8,13.7,1014.6,57,0,2.3,5.9,14.8,-,NaN,NaN,NaN,NaN
8,9,24,33.8,13.6,1009.7,53,0,1.9,4.6,18.3,-,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,23.8,33,14.9,1010.4,64,0,1.9,3.9,11.1,-,NaN,NaN,NaN,NaN
13,14,22.6,33,18.1,1013.1,67,0,2.1,11.3,22.2,-,NaN,NaN,NaN,NaN
14,15,23,30,14.4,1016.1,55,0,2.7,6.7,14.8,-,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,24.6,31.7,17.9,1008.5,68,0,2.3,14.1,27.8,-,NaN,NaN,NaN,NaN
19,20,27.1,34.8,17.7,1009.7,52,0,1.6,6.1,11.1,-,NaN,NaN,o,NaN
20,21,26.1,34.8,17.9,1008.8,54,0.51,2.6,11.9,18.3,-,NaN,NaN,NaN,NaN
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,23.6,34.3,17.7,1010.4,51,0,2.6,15.9,22.2,-,NaN,NaN,NaN,NaN
25,26,23.2,29.6,16.7,1008.6,54,0,1.9,13.1,22.2,-,NaN,NaN,NaN,NaN
26,27,23.8,30.9,16.7,1009,52,0,1.6,6.5,13,-,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31,24.7,31.5,17,1008.6,57,0,2.1,7.6,14.8,-,NaN,NaN,NaN,NaN

In [59]:
# Reading the April month data

In [60]:
url_april='---------------------------------'

In [61]:
df_apr=pd.read_html(url_april)

In [62]:
df_apr=df_apr[2]

In [63]:
df_apr.to_csv('D:\\new\\weatherapr.csv',index=False)

In [64]:
df_apr=pd.read_csv('D:\\new\\weatherapr.csv',usecols=['Day','T','TM','Tm','SLP','H','PP','VV','V','VM','VG','RA','SN','TS','FG'])

In [65]:
df_apr

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,25.6,33.8,17.9,1008.7,47,0,2.1,4.4,13,-,NaN,NaN,NaN,NaN
1,2,25.7,36,17.8,1009,50,6.1,1.8,9.3,14.8,-,o,NaN,o,NaN
2,3,25.1,36,18.3,1009.5,56,0,2.7,9.1,18.3,-,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,29.5,37,18.5,1005.2,30,0,1.9,10.6,22.2,-,NaN,NaN,NaN,NaN
7,8,29.2,37.5,20,1006.1,38,0,2.6,5.9,14.8,-,NaN,NaN,NaN,NaN
8,9,31.1,37.8,21.7,1005.6,34,-,1.8,8.1,27.8,-,o,NaN,o,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,29.8,36.6,21.4,1007.8,37,0,1.9,8.1,18.3,-,NaN,NaN,o,NaN
13,14,28.2,36.6,21.9,1007.1,45,2.03,1.9,6.5,16.5,-,NaN,NaN,NaN,NaN
14,15,28.3,36.4,20.1,1004,47,0,1.9,6.3,14.8,-,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,29.3,37.9,20.3,1002.9,35,0,2.3,4.4,11.1,-,NaN,NaN,NaN,NaN
19,20,30.5,38.6,20.7,1003.4,36,0,1.9,7.6,14.8,-,NaN,NaN,NaN,NaN
20,21,28,38.6,23.8,1007.3,48,0,2.3,15.6,25.9,-,NaN,NaN,NaN,NaN
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,31.1,38.5,23.2,1007.7,45,0,1.9,3.7,7.6,-,NaN,NaN,NaN,NaN
25,26,29.9,38.5,24.3,1008.3,53,0,1.9,6.7,22.2,-,NaN,NaN,NaN,NaN
26,27,31.4,37.8,22,1006.9,38,0,2.3,13.7,22.2,-,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:
31,NaN,29,36.9,21.2,1006.3,40.4,8.13,2.2,8.3,18,NaN,2,0,3,0

In [66]:
df_apr.drop(df_apr.index[[30,31]],inplace=True)

In [67]:
df_apr

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,25.6,33.8,17.9,1008.7,47,0,2.1,4.4,13,-,NaN,NaN,NaN,NaN
1,2,25.7,36,17.8,1009,50,6.1,1.8,9.3,14.8,-,o,NaN,o,NaN
2,3,25.1,36,18.3,1009.5,56,0,2.7,9.1,18.3,-,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,29.5,37,18.5,1005.2,30,0,1.9,10.6,22.2,-,NaN,NaN,NaN,NaN
7,8,29.2,37.5,20,1006.1,38,0,2.6,5.9,14.8,-,NaN,NaN,NaN,NaN
8,9,31.1,37.8,21.7,1005.6,34,-,1.8,8.1,27.8,-,o,NaN,o,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,29.8,36.6,21.4,1007.8,37,0,1.9,8.1,18.3,-,NaN,NaN,o,NaN
13,14,28.2,36.6,21.9,1007.1,45,2.03,1.9,6.5,16.5,-,NaN,NaN,NaN,NaN
14,15,28.3,36.4,20.1,1004,47,0,1.9,6.3,14.8,-,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,29.3,37.9,20.3,1002.9,35,0,2.3,4.4,11.1,-,NaN,NaN,NaN,NaN
19,20,30.5,38.6,20.7,1003.4,36,0,1.9,7.6,14.8,-,NaN,NaN,NaN,NaN
20,21,28,38.6,23.8,1007.3,48,0,2.3,15.6,25.9,-,NaN,NaN,NaN,NaN
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,31.1,38.5,23.2,1007.7,45,0,1.9,3.7,7.6,-,NaN,NaN,NaN,NaN
25,26,29.9,38.5,24.3,1008.3,53,0,1.9,6.7,22.2,-,NaN,NaN,NaN,NaN
26,27,31.4,37.8,22,1006.9,38,0,2.3,13.7,22.2,-,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
# Reading May month Data

In [69]:
url_may='========================================'

In [70]:
df_may=pd.read_html(url_may)

In [71]:
df_may=df_may[2]

In [72]:
df_may.to_csv('D:\\new\\weathermay.csv',index=False)

In [73]:
df_may=pd.read_csv('D:\\new\\weathermay.csv',usecols=['Day','T','TM','Tm','SLP','H','PP','VV','V','VM','VG','RA','SN','TS','FG'])

In [74]:
df_may

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,31.4,39.2,22.8,1002.9,24,0,1.9,11.5,25.9,-,NaN,NaN,NaN,NaN
1,2,29.9,38.8,21.7,1000.8,29,0,1.9,12,24.1,-,NaN,NaN,NaN,NaN
2,3,29.7,38.3,21.6,999.3,35,0,1.9,10.2,22.2,-,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,32.8,40.8,25.3,1002,36,0,1.8,7.2,24.1,-,NaN,NaN,NaN,NaN
7,8,34.1,42,23.7,1001.4,29,0,1.9,9.3,18.3,-,NaN,NaN,NaN,NaN
8,9,34.1,42,26.8,1000.8,32,0,1.9,7.8,14.8,-,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,30.9,37.6,23.2,1003.7,44,0,1.9,3.5,11.1,-,NaN,NaN,NaN,NaN
13,14,32.9,39.8,24.7,1001,38,0,1.9,5.6,13,-,NaN,NaN,NaN,NaN
14,15,30.6,37.4,24.8,1000.8,47,0,1.9,2.2,7.6,-,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,36.2,44.6,25.9,999.2,29,0,1.9,15,27.8,-,NaN,NaN,NaN,NaN
19,20,36.2,44.6,29.2,999.1,32,0,1.9,10.6,18.3,-,NaN,NaN,NaN,NaN
20,21,36.8,45.1,28,999.1,26,0,1.9,12,25.9,-,NaN,NaN,NaN,NaN
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,37.7,45,30.5,998.1,32,0,1.9,10,22.2,-,NaN,NaN,NaN,NaN
25,26,36.2,43.6,29.3,998.4,32,0,2.3,8.1,20.6,-,NaN,NaN,NaN,NaN
26,27,35.6,42.6,30.2,999.3,41,0,1.9,8.1,20.6,-,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31,33.6,40.6,24.8,998.8,47,0,1.9,10.6,18.3,-,NaN,NaN,NaN,NaN
31,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:
32,NaN,33.8,41.9,26.1,999.9,35.5,0,1.9,9,20.4,NaN,0,0,0,0

In [75]:
df_may.drop(df_may.index[[31,32]],inplace=True)

In [76]:
df_may

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,31.4,39.2,22.8,1002.9,24,0,1.9,11.5,25.9,-,NaN,NaN,NaN,NaN
1,2,29.9,38.8,21.7,1000.8,29,0,1.9,12,24.1,-,NaN,NaN,NaN,NaN
2,3,29.7,38.3,21.6,999.3,35,0,1.9,10.2,22.2,-,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,32.8,40.8,25.3,1002,36,0,1.8,7.2,24.1,-,NaN,NaN,NaN,NaN
7,8,34.1,42,23.7,1001.4,29,0,1.9,9.3,18.3,-,NaN,NaN,NaN,NaN
8,9,34.1,42,26.8,1000.8,32,0,1.9,7.8,14.8,-,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,30.9,37.6,23.2,1003.7,44,0,1.9,3.5,11.1,-,NaN,NaN,NaN,NaN
13,14,32.9,39.8,24.7,1001,38,0,1.9,5.6,13,-,NaN,NaN,NaN,NaN
14,15,30.6,37.4,24.8,1000.8,47,0,1.9,2.2,7.6,-,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,36.2,44.6,25.9,999.2,29,0,1.9,15,27.8,-,NaN,NaN,NaN,NaN
19,20,36.2,44.6,29.2,999.1,32,0,1.9,10.6,18.3,-,NaN,NaN,NaN,NaN
20,21,36.8,45.1,28,999.1,26,0,1.9,12,25.9,-,NaN,NaN,NaN,NaN
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,37.7,45,30.5,998.1,32,0,1.9,10,22.2,-,NaN,NaN,NaN,NaN
25,26,36.2,43.6,29.3,998.4,32,0,2.3,8.1,20.6,-,NaN,NaN,NaN,NaN
26,27,35.6,42.6,30.2,999.3,41,0,1.9,8.1,20.6,-,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31,33.6,40.6,24.8,998.8,47,0,1.9,10.6,18.3,-,NaN,NaN,NaN,NaN

In [79]:
# Reading the june Month data

In [80]:
url_june='---------------------------'

In [81]:
df_june=pd.read_html(url_june)

In [82]:
df_june=df_june[2]

In [83]:
df_june.to_csv('D:\\new\\weatherjune.csv',index=False)

In [84]:
df_june=pd.read_csv('D:\\new\\weatherjune.csv',usecols=['Day','T','TM','Tm','SLP','H','PP','VV','V','VM','VG','RA','SN','TS','FG'])

In [85]:
df_june

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,31.9,40.6,26.7,1002,61,0,1.9,13.5,20.6,-,NaN,NaN,NaN,NaN
1,2,32.4,38.5,26.6,1001,63,0,2.3,13.3,22.2,-,NaN,NaN,NaN,NaN
2,3,34.1,40.3,28.8,999.7,59,0,1.9,10.9,16.5,-,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,o,NaN
6,7,34.1,43.2,25.7,997.9,57,14.99,1.9,7.4,14.8,-,NaN,NaN,NaN,NaN
7,8,34.2,39.8,29.1,996.7,64,0,1.9,13.7,18.3,-,NaN,NaN,NaN,NaN
8,9,35.1,40.2,30.2,995.2,52,0,1.9,8.5,14.8,-,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,30.3,39.2,28.8,998.6,75,0,1.9,10.2,22.2,-,o,NaN,o,NaN
13,14,30.4,38.6,27.8,997.7,73,11.94,1.9,8,22.2,-,o,NaN,NaN,NaN
14,15,29.8,38.6,24.6,997.9,71,6.1,2.3,12.6,16.5,-,o,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,o
18,19,29.7,35.5,24.8,999,76,5.08,1.9,4.3,14.8,-,o,NaN,NaN,NaN
19,20,33,38.4,25.3,997.6,58,0,1.8,4.8,13,-,NaN,NaN,NaN,NaN
20,21,35.6,41,27.3,995.5,49,0,1.9,7.4,18.3,-,NaN,NaN,NaN,NaN
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,31,39.4,27.8,999.2,74,0,1.9,11.5,18.3,-,NaN,NaN,NaN,NaN
25,26,31.2,35.7,27.2,998.4,75,0,1.9,6.3,14.8,-,NaN,NaN,NaN,NaN
26,27,31.2,37.1,27.6,996.8,71,2.03,1.9,8.1,20.6,-,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:
31,NaN,32.5,39,27.3,997.5,64.7,122.69,1.9,9.3,17.8,NaN,8,0,2,1

In [86]:
df_june.drop(df_june.index[[30,31]],inplace=True)

In [87]:
df_june

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,31.9,40.6,26.7,1002,61,0,1.9,13.5,20.6,-,NaN,NaN,NaN,NaN
1,2,32.4,38.5,26.6,1001,63,0,2.3,13.3,22.2,-,NaN,NaN,NaN,NaN
2,3,34.1,40.3,28.8,999.7,59,0,1.9,10.9,16.5,-,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,o,NaN
6,7,34.1,43.2,25.7,997.9,57,14.99,1.9,7.4,14.8,-,NaN,NaN,NaN,NaN
7,8,34.2,39.8,29.1,996.7,64,0,1.9,13.7,18.3,-,NaN,NaN,NaN,NaN
8,9,35.1,40.2,30.2,995.2,52,0,1.9,8.5,14.8,-,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,30.3,39.2,28.8,998.6,75,0,1.9,10.2,22.2,-,o,NaN,o,NaN
13,14,30.4,38.6,27.8,997.7,73,11.94,1.9,8,22.2,-,o,NaN,NaN,NaN
14,15,29.8,38.6,24.6,997.9,71,6.1,2.3,12.6,16.5,-,o,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,o
18,19,29.7,35.5,24.8,999,76,5.08,1.9,4.3,14.8,-,o,NaN,NaN,NaN
19,20,33,38.4,25.3,997.6,58,0,1.8,4.8,13,-,NaN,NaN,NaN,NaN
20,21,35.6,41,27.3,995.5,49,0,1.9,7.4,18.3,-,NaN,NaN,NaN,NaN
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,31,39.4,27.8,999.2,74,0,1.9,11.5,18.3,-,NaN,NaN,NaN,NaN
25,26,31.2,35.7,27.2,998.4,75,0,1.9,6.3,14.8,-,NaN,NaN,NaN,NaN
26,27,31.2,37.1,27.6,996.8,71,2.03,1.9,8.1,20.6,-,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
# Reading July month data

In [89]:
url_july='--------------------------------'

In [90]:
df_july=pd.read_html(url_july)

In [91]:
df_july=df_july[2]

In [92]:
df_july.to_csv('D:\\new\\weatherjuly.csv',index=False)

In [93]:
df_july=pd.read_csv('D:\\new\\weatherjuly.csv',usecols=['Day','T','TM','Tm','SLP','H','PP','VV','V','VM','VG','RA','SN','TS','FG'])

In [94]:
df_july

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,33.9,39.2,27.8,995.2,62,0,1.9,8.9,14.8,-,NaN,NaN,NaN,NaN
1,2,32.8,37.6,28.4,995.8,67,-,1.9,9.3,18.3,-,o,NaN,NaN,NaN
2,3,31.6,37.6,26.9,997.5,76,2.03,1.9,6.5,11.1,-,o,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,31.1,35,27.9,1000.1,81,0,1.9,7.2,11.1,-,NaN,NaN,NaN,NaN
7,8,30.3,35.8,27.2,997.5,78,0,1.9,7.6,14.8,-,NaN,NaN,NaN,NaN
8,9,29.2,35.4,24.6,996.4,81,2.03,1.8,7.4,14.8,-,o,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
12,13,31.8,36.7,25.8,998.8,75,21.08,1.9,8.3,14.8,-,NaN,NaN,NaN,NaN
13,14,31.1,37.2,28.2,997.5,76,0,1.9,3.9,11.1,-,NaN,NaN,NaN,NaN
14,15,31.7,37.2,26.8,998.3,78,4.06,1.9,7.8,11.1,-,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,o,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,30.9,35.4,25.8,995,77,7.11,1.9,10.4,18.3,-,NaN,NaN,NaN,NaN
19,20,26.8,35.4,24.2,999,93,0,1.1,6.3,14.8,-,o,NaN,o,NaN
20,21,29.1,33.8,23.9,996.3,86,122.94,1.4,2.6,55.4,-,NaN,NaN,NaN,o
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
24,25,28.5,34.4,26.3,995.5,87,19.05,1.6,7,14.8,-,NaN,NaN,NaN,NaN
25,26,30.4,35.1,24.8,995.2,77,8.89,1.9,5.2,14.8,-,NaN,NaN,NaN,NaN
26,27,30,35.5,26.2,997.5,83,2.03,1.9,3.7,11.1,-,o,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31,29,33.7,26.9,996.5,82,0,1.9,9.8,14.8,-,NaN,NaN,o,NaN
31,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:
32,NaN,30.6,35.9,26.6,997.3,79.2,341.12,1.8,6.9,15.3,NaN,9,0,3,1

In [95]:
df_july.drop(df_july.index[[31,32]],inplace=True)

In [96]:
df_july

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,33.9,39.2,27.8,995.2,62,0,1.9,8.9,14.8,-,NaN,NaN,NaN,NaN
1,2,32.8,37.6,28.4,995.8,67,-,1.9,9.3,18.3,-,o,NaN,NaN,NaN
2,3,31.6,37.6,26.9,997.5,76,2.03,1.9,6.5,11.1,-,o,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,31.1,35,27.9,1000.1,81,0,1.9,7.2,11.1,-,NaN,NaN,NaN,NaN
7,8,30.3,35.8,27.2,997.5,78,0,1.9,7.6,14.8,-,NaN,NaN,NaN,NaN
8,9,29.2,35.4,24.6,996.4,81,2.03,1.8,7.4,14.8,-,o,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
12,13,31.8,36.7,25.8,998.8,75,21.08,1.9,8.3,14.8,-,NaN,NaN,NaN,NaN
13,14,31.1,37.2,28.2,997.5,76,0,1.9,3.9,11.1,-,NaN,NaN,NaN,NaN
14,15,31.7,37.2,26.8,998.3,78,4.06,1.9,7.8,11.1,-,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,o,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,30.9,35.4,25.8,995,77,7.11,1.9,10.4,18.3,-,NaN,NaN,NaN,NaN
19,20,26.8,35.4,24.2,999,93,0,1.1,6.3,14.8,-,o,NaN,o,NaN
20,21,29.1,33.8,23.9,996.3,86,122.94,1.4,2.6,55.4,-,NaN,NaN,NaN,o
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
24,25,28.5,34.4,26.3,995.5,87,19.05,1.6,7,14.8,-,NaN,NaN,NaN,NaN
25,26,30.4,35.1,24.8,995.2,77,8.89,1.9,5.2,14.8,-,NaN,NaN,NaN,NaN
26,27,30,35.5,26.2,997.5,83,2.03,1.9,3.7,11.1,-,o,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31,29,33.7,26.9,996.5,82,0,1.9,9.8,14.8,-,NaN,NaN,o,NaN

In [100]:
# Reading the August month data

In [101]:
url_aug='=========================================='

In [102]:
df_aug=pd.read_html(url_aug)

In [103]:
df_aug=df_aug[2]

In [104]:
df_aug.to_csv('D:\\new\\weatheraug.csv',index=False)

In [105]:
df_aug=pd.read_csv('D:\\new\\weatheraug.csv',usecols=['Day','T','TM','Tm','SLP','H','PP','VV','V','VM','VG','RA','SN','TS','FG'])

In [106]:
df_aug

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,31.1,34.9,25.9,998.2,76,0,1.9,6.7,11.1,-,NaN,NaN,NaN,NaN
1,2,31.8,36,27.5,999.6,71,0,1.9,11.7,18.3,-,NaN,NaN,NaN,NaN
2,3,32.2,36.1,27.4,1000.8,69,0,1.9,9.3,14.8,-,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,o,NaN
6,7,28.4,30.6,25.3,1001.8,88,0.51,1.4,3.1,7.6,-,o,NaN,o,NaN
7,8,28.1,30.8,25.8,1000.6,88,16,1.9,8,18.3,-,o,NaN,NaN,NaN
8,9,27.4,30.8,25.4,1000.8,90,2.03,1.9,3.1,9.4,-,NaN,NaN,o,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,30.1,34.6,27.2,1000,79,0,1.9,10.2,18.3,-,NaN,NaN,NaN,NaN
13,14,29.7,34.9,26.1,1000.3,79,0,1.9,8.3,18.3,-,o,NaN,NaN,NaN
14,15,27.7,30.7,24.8,1001.8,88,8.89,1.9,7.2,14.8,-,o,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,o,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,o,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN
18,19,28.4,33.1,26,1000,86,0.25,1.9,5,18.3,-,o,NaN,NaN,NaN
19,20,27.4,33.5,24.4,999.1,90,12.95,1.1,5.4,18.3,-,o,NaN,o,NaN
20,21,29.2,34.4,24.8,999,81,95,2.1,7.8,29.4,-,o,NaN,NaN,NaN
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,30.4,36.5,27.8,999.3,82,12.95,1.4,2,7.6,-,o,NaN,NaN,NaN
25,26,32.1,36.7,26.8,998.1,74,0,1.9,6.5,14.8,-,NaN,NaN,NaN,NaN
26,27,32,35.5,27.6,999.8,65,0,2.6,16.9,29.4,-,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
30,31,29.1,34.2,25.9,1003.4,76,0,1.9,5.6,9.4,-,NaN,NaN,NaN,NaN
31,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:
32,NaN,29.6,34.1,25.9,1000.7,80.4,304.78,1.8,6.8,17.9,NaN,14,0,7,0

In [107]:
df_aug.drop(df_aug.index[[31,32]],inplace=True)

In [108]:
df_aug

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,31.1,34.9,25.9,998.2,76,0,1.9,6.7,11.1,-,NaN,NaN,NaN,NaN
1,2,31.8,36,27.5,999.6,71,0,1.9,11.7,18.3,-,NaN,NaN,NaN,NaN
2,3,32.2,36.1,27.4,1000.8,69,0,1.9,9.3,14.8,-,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,o,NaN
6,7,28.4,30.6,25.3,1001.8,88,0.51,1.4,3.1,7.6,-,o,NaN,o,NaN
7,8,28.1,30.8,25.8,1000.6,88,16,1.9,8,18.3,-,o,NaN,NaN,NaN
8,9,27.4,30.8,25.4,1000.8,90,2.03,1.9,3.1,9.4,-,NaN,NaN,o,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,30.1,34.6,27.2,1000,79,0,1.9,10.2,18.3,-,NaN,NaN,NaN,NaN
13,14,29.7,34.9,26.1,1000.3,79,0,1.9,8.3,18.3,-,o,NaN,NaN,NaN
14,15,27.7,30.7,24.8,1001.8,88,8.89,1.9,7.2,14.8,-,o,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,o,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,o,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN
18,19,28.4,33.1,26,1000,86,0.25,1.9,5,18.3,-,o,NaN,NaN,NaN
19,20,27.4,33.5,24.4,999.1,90,12.95,1.1,5.4,18.3,-,o,NaN,o,NaN
20,21,29.2,34.4,24.8,999,81,95,2.1,7.8,29.4,-,o,NaN,NaN,NaN
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,30.4,36.5,27.8,999.3,82,12.95,1.4,2,7.6,-,o,NaN,NaN,NaN
25,26,32.1,36.7,26.8,998.1,74,0,1.9,6.5,14.8,-,NaN,NaN,NaN,NaN
26,27,32,35.5,27.6,999.8,65,0,2.6,16.9,29.4,-,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
30,31,29.1,34.2,25.9,1003.4,76,0,1.9,5.6,9.4,-,NaN,NaN,NaN,NaN

In [111]:
# Reading the september data

In [112]:
url_sep='==============================='

In [113]:
df_sep=pd.read_html(url_sep)

In [114]:
df_sep=df_sep[2]

In [115]:
df_sep.to_csv('D:\\new\\weathersep.csv',index=False)

In [116]:
df_sep=pd.read_csv('D:\\new\\weathersep.csv',usecols=['Day','T','TM','Tm','SLP','H','PP','VV','V','VM','VG','RA','SN','TS','FG'])

In [117]:
df_sep

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,30.2,35.6,25.6,1003.6,68,0,3.1,14.8,22.2,-,NaN,NaN,NaN,NaN
1,2,31.7,35.9,27,1003.6,59,0,2.6,14.4,22.2,-,NaN,NaN,NaN,NaN
2,3,31.6,36.3,25.9,1002.7,58,0,2.7,15.4,25.9,-,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,30.9,35.6,25,1004.8,58,0,2.3,6.9,14.8,-,NaN,NaN,NaN,NaN
7,8,29.6,34.2,25.8,1007.3,67,0,1.9,6.3,14.8,-,NaN,NaN,NaN,NaN
8,9,29.3,35,24.1,1007.6,70,3.05,1.9,4.3,11.1,-,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,30.6,36,25.8,1007.2,74,0,1.6,2.8,7.6,-,NaN,NaN,NaN,NaN
13,14,31.2,36.4,25.8,1004.4,69,0,1.9,2,7.6,-,NaN,NaN,NaN,NaN
14,15,31.6,36.8,25.9,1001.5,63,0,2.4,3.9,11.1,-,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,29.9,36.2,23.4,1002.5,66,0,1.9,1.9,7.6,-,NaN,NaN,NaN,NaN
19,20,28.7,34.1,25.2,1002.9,76,0,1.9,9.6,51.9,-,o,NaN,NaN,NaN
20,21,26.3,34.1,24,1003.4,87,0,1.9,6.1,11.1,-,o,NaN,NaN,NaN
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,28.6,35.6,25.3,1005.4,79,32,2.6,5.7,13,-,NaN,NaN,NaN,NaN
25,26,28.6,34.5,24,1006.7,81,0,1.9,3.9,9.4,-,NaN,NaN,NaN,NaN
26,27,29,34.2,24.3,1005.8,76,0,1.9,7.4,20.6,-,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
30,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:
31,NaN,29.9,35.1,25,1004.1,69.3,93.48,2.2,6.8,15.6,NaN,4,0,0,0

In [118]:
df_sep.drop(df_sep.index[[30,31]],inplace=True)

In [119]:
df_sep

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,30.2,35.6,25.6,1003.6,68,0,3.1,14.8,22.2,-,NaN,NaN,NaN,NaN
1,2,31.7,35.9,27,1003.6,59,0,2.6,14.4,22.2,-,NaN,NaN,NaN,NaN
2,3,31.6,36.3,25.9,1002.7,58,0,2.7,15.4,25.9,-,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,30.9,35.6,25,1004.8,58,0,2.3,6.9,14.8,-,NaN,NaN,NaN,NaN
7,8,29.6,34.2,25.8,1007.3,67,0,1.9,6.3,14.8,-,NaN,NaN,NaN,NaN
8,9,29.3,35,24.1,1007.6,70,3.05,1.9,4.3,11.1,-,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,30.6,36,25.8,1007.2,74,0,1.6,2.8,7.6,-,NaN,NaN,NaN,NaN
13,14,31.2,36.4,25.8,1004.4,69,0,1.9,2,7.6,-,NaN,NaN,NaN,NaN
14,15,31.6,36.8,25.9,1001.5,63,0,2.4,3.9,11.1,-,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,29.9,36.2,23.4,1002.5,66,0,1.9,1.9,7.6,-,NaN,NaN,NaN,NaN
19,20,28.7,34.1,25.2,1002.9,76,0,1.9,9.6,51.9,-,o,NaN,NaN,NaN
20,21,26.3,34.1,24,1003.4,87,0,1.9,6.1,11.1,-,o,NaN,NaN,NaN
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,28.6,35.6,25.3,1005.4,79,32,2.6,5.7,13,-,NaN,NaN,NaN,NaN
25,26,28.6,34.5,24,1006.7,81,0,1.9,3.9,9.4,-,NaN,NaN,NaN,NaN
26,27,29,34.2,24.3,1005.8,76,0,1.9,7.4,20.6,-,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN

In [120]:
# Reading the october month data

In [121]:
url_oct='----------------------------'

In [122]:
df_oct=pd.read_html(url_oct)

In [123]:
df_oct=df_oct[2]

In [124]:
df_oct.to_csv('D:\\new\\weatheroct.csv',index=False)

In [125]:
df_oct=pd.read_csv('D:\\new\\weatheroct.csv',usecols=['Day','T','TM','Tm','SLP','H','PP','VV','V','VM','VG','RA','SN','TS','FG'])

In [126]:
df_oct

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,29.1,34,23.8,1007.8,72,4.06,1.9,6.5,13,-,NaN,NaN,NaN,NaN
1,2,28.9,34.9,25.6,1009.5,68,0,2.6,7.6,13,-,NaN,NaN,NaN,NaN
2,3,27.9,33.7,23.2,1008.4,67,0,2.6,10,14.8,-,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,29.4,34.5,24.3,1009.1,73,0,1.8,1.3,3.5,-,NaN,NaN,NaN,NaN
7,8,30.1,34.5,24.8,1010,72,0,1.8,1.5,7.6,-,NaN,NaN,NaN,NaN
8,9,30.1,35.6,24.8,1010.5,72,0,2.1,4.6,11.1,-,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,o,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,27.4,33.1,22.8,1008,85,0,1.6,0.4,3.5,-,NaN,NaN,NaN,NaN
13,14,27.5,32.5,23,1007.1,80,1.02,1.8,6.1,18.3,-,NaN,NaN,NaN,NaN
14,15,26.6,32.6,21.1,1008.8,76,0,1.6,3.3,11.1,-,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,25.6,33.2,19.5,1011.5,67,0,1.4,3.7,14.8,-,NaN,NaN,NaN,NaN
19,20,25,32.8,17.6,1010.8,69,0,1.4,1.1,5.4,-,NaN,NaN,NaN,NaN
20,21,24.8,32.3,17.3,1009.7,68,0,1.4,1.5,7.6,-,NaN,NaN,NaN,NaN
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
24,25,24.1,30,17.5,1011.2,74,0,1,1.5,9.4,-,NaN,NaN,NaN,o
25,26,24.3,31.4,18.5,1011.2,72,0,1.1,0.4,3.5,-,NaN,NaN,NaN,o
26,27,23,31,18,1010.6,71,0,0.8,2.6,9.4,-,NaN,NaN,NaN,o
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31,24.1,30.1,16.7,1014,62,0,1.4,3.3,11.1,-,NaN,NaN,NaN,NaN
31,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:
32,NaN,26.3,33,20.5,1009.9,73.2,72.14,1.6,3,9.5,NaN,2,0,1,7

In [127]:
df_oct.drop(df_oct.index[[31,32]],inplace=True)

In [128]:
df_oct

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,29.1,34,23.8,1007.8,72,4.06,1.9,6.5,13,-,NaN,NaN,NaN,NaN
1,2,28.9,34.9,25.6,1009.5,68,0,2.6,7.6,13,-,NaN,NaN,NaN,NaN
2,3,27.9,33.7,23.2,1008.4,67,0,2.6,10,14.8,-,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,29.4,34.5,24.3,1009.1,73,0,1.8,1.3,3.5,-,NaN,NaN,NaN,NaN
7,8,30.1,34.5,24.8,1010,72,0,1.8,1.5,7.6,-,NaN,NaN,NaN,NaN
8,9,30.1,35.6,24.8,1010.5,72,0,2.1,4.6,11.1,-,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,o,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,27.4,33.1,22.8,1008,85,0,1.6,0.4,3.5,-,NaN,NaN,NaN,NaN
13,14,27.5,32.5,23,1007.1,80,1.02,1.8,6.1,18.3,-,NaN,NaN,NaN,NaN
14,15,26.6,32.6,21.1,1008.8,76,0,1.6,3.3,11.1,-,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,25.6,33.2,19.5,1011.5,67,0,1.4,3.7,14.8,-,NaN,NaN,NaN,NaN
19,20,25,32.8,17.6,1010.8,69,0,1.4,1.1,5.4,-,NaN,NaN,NaN,NaN
20,21,24.8,32.3,17.3,1009.7,68,0,1.4,1.5,7.6,-,NaN,NaN,NaN,NaN
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
24,25,24.1,30,17.5,1011.2,74,0,1,1.5,9.4,-,NaN,NaN,NaN,o
25,26,24.3,31.4,18.5,1011.2,72,0,1.1,0.4,3.5,-,NaN,NaN,NaN,o
26,27,23,31,18,1010.6,71,0,0.8,2.6,9.4,-,NaN,NaN,NaN,o
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31,24.1,30.1,16.7,1014,62,0,1.4,3.3,11.1,-,NaN,NaN,NaN,NaN

In [130]:
# Reading november month data

In [131]:
url_nov='----------------------------------------'

In [132]:
df_nov=pd.read_html(url_nov)

In [133]:
df_nov=df_nov[2]

In [134]:
df_nov.to_csv('D:\\new\\weathernov.csv',index=False)

In [135]:
df_nov=pd.read_csv('D:\\new\\weathernov.csv',usecols=['Day','T','TM','Tm','SLP','H','PP','VV','V','VM','VG','RA','SN','TS','FG'])

In [136]:
df_nov

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,23.8,30.5,18.4,1013.5,71,0,1.6,1.3,3.5,-,NaN,NaN,NaN,o
1,2,22.4,28.6,16.3,1014.6,67,0.51,1,5.4,11.1,-,NaN,NaN,NaN,NaN
2,3,20.9,28.1,13.6,1016,59,0,0.8,6.3,18.3,-,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
6,7,20.1,27.1,14,1015.5,78,0,0.6,3.9,11.1,-,o,NaN,NaN,o
7,8,18.9,27.1,14.5,1015.2,80,0,0.6,1.3,7.6,-,NaN,NaN,NaN,o
8,9,19.1,25.6,12.4,1016.6,79,0,0.8,0.4,3.5,-,NaN,NaN,NaN,o
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,17.8,26.2,11,1014.3,68,0,1,3,11.1,-,NaN,NaN,NaN,o
13,14,17.6,25.6,11.2,1015.2,68,0,1.1,3.5,14.8,-,NaN,NaN,NaN,o
14,15,17,26.6,10,1016.5,70,0,1.1,0.9,7.6,-,NaN,NaN,NaN,o
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
18,19,17.8,26.9,11.4,1015.4,67,0,1.4,7.2,20.6,-,NaN,NaN,NaN,NaN
19,20,18.2,28.1,10.4,1012.6,61,0,1.8,2.6,11.1,-,NaN,NaN,NaN,NaN
20,21,18,28.5,10.2,1013.2,68,0,1.1,2,11.1,-,NaN,NaN,NaN,o
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,21.1,28.8,13.8,1012.8,57,0,1.6,9.4,22.2,-,NaN,NaN,NaN,NaN
25,26,21.3,28.8,15,1011.9,58,0,1.9,9.6,16.5,-,NaN,NaN,NaN,NaN
26,27,19,28.8,12.5,1014.7,72,0,1.6,2.8,9.4,-,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:
31,NaN,18.8,27.5,12.2,1015.4,69.8,0.51,1.1,3.5,11.8,NaN,1,0,0,15

In [137]:
df_nov.drop(df_nov.index[[30,31]],inplace=True)

In [138]:
df_nov

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,23.8,30.5,18.4,1013.5,71,0,1.6,1.3,3.5,-,NaN,NaN,NaN,o
1,2,22.4,28.6,16.3,1014.6,67,0.51,1,5.4,11.1,-,NaN,NaN,NaN,NaN
2,3,20.9,28.1,13.6,1016,59,0,0.8,6.3,18.3,-,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
6,7,20.1,27.1,14,1015.5,78,0,0.6,3.9,11.1,-,o,NaN,NaN,o
7,8,18.9,27.1,14.5,1015.2,80,0,0.6,1.3,7.6,-,NaN,NaN,NaN,o
8,9,19.1,25.6,12.4,1016.6,79,0,0.8,0.4,3.5,-,NaN,NaN,NaN,o
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,17.8,26.2,11,1014.3,68,0,1,3,11.1,-,NaN,NaN,NaN,o
13,14,17.6,25.6,11.2,1015.2,68,0,1.1,3.5,14.8,-,NaN,NaN,NaN,o
14,15,17,26.6,10,1016.5,70,0,1.1,0.9,7.6,-,NaN,NaN,NaN,o
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
18,19,17.8,26.9,11.4,1015.4,67,0,1.4,7.2,20.6,-,NaN,NaN,NaN,NaN
19,20,18.2,28.1,10.4,1012.6,61,0,1.8,2.6,11.1,-,NaN,NaN,NaN,NaN
20,21,18,28.5,10.2,1013.2,68,0,1.1,2,11.1,-,NaN,NaN,NaN,o
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,21.1,28.8,13.8,1012.8,57,0,1.6,9.4,22.2,-,NaN,NaN,NaN,NaN
25,26,21.3,28.8,15,1011.9,58,0,1.9,9.6,16.5,-,NaN,NaN,NaN,NaN
26,27,19,28.8,12.5,1014.7,72,0,1.6,2.8,9.4,-,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
# Reading december month data

In [140]:
url_dec='-----------------------------'

In [141]:
df_dec=pd.read_html(url_dec)

In [142]:
df_dec=df_dec[2]

In [143]:
df_dec.to_csv('D:\\new\\weatherdec.csv',index=False)

In [144]:
df_dec=pd.read_csv('D:\\new\\weatherdec.csv',usecols=['Day','T','TM','Tm','SLP','H','PP','VV','V','VM','VG','RA','SN','TS','FG'])

In [145]:
df_dec

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,18.1,28,10,1016.1,66,0,1.4,1.7,7.6,-,NaN,NaN,NaN,NaN
1,2,17.2,28.4,9.8,1015.8,73,0,1.1,1.9,11.1,-,NaN,NaN,NaN,NaN
2,3,17.4,28.4,9.2,1016.6,74,0,1.1,1.5,11.1,-,NaN,NaN,NaN,o
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,16,26.1,9.1,1014.4,81,0,1,1.1,5.4,-,NaN,NaN,NaN,o
7,8,16.6,26.2,9.6,1013.9,85,0,0.6,0,-,-,NaN,NaN,NaN,o
8,9,16.2,25.3,9.5,1013.4,81,0,0.8,2.2,14.8,-,NaN,NaN,NaN,o
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,16.5,24.5,10.8,1012.2,74,0,1.6,10.2,22.2,-,NaN,NaN,NaN,NaN
13,14,15.4,24.9,8.2,1012.8,82,0,1,0.7,3.5,-,NaN,NaN,NaN,NaN
14,15,15.5,24.9,9.4,1015.1,88,0,0.6,2.6,7.6,-,NaN,NaN,NaN,o
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
18,19,16.3,22.4,10.8,1012.8,91,0,0.6,3.1,11.1,-,NaN,NaN,NaN,o
19,20,15.4,19.7,11.6,1016,93,0,0.6,4.4,9.4,-,NaN,NaN,NaN,o
20,21,14.6,15.9,12.5,1016.9,95,0,0.5,0.4,3.5,-,NaN,NaN,NaN,o
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
24,25,13.6,20.4,7.5,1020.7,67,0,1.1,10.2,40.7,-,NaN,NaN,NaN,NaN
25,26,12.3,20.6,6.2,1019.4,71,0,1.3,4.4,18.3,-,NaN,NaN,NaN,o
26,27,11.9,17.1,6.5,1018.6,84,0.25,1.1,1.1,5.4,-,o,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,o
30,31,14.3,19.2,10.9,1020.5,91,6.1,1.6,4.8,11.1,-,o,NaN,NaN,NaN
31,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:,Monthly means and totals:
32,NaN,15.1,22.9,9.1,1016.2,81.5,7.37,1,4.2,13.1,NaN,3,0,0,18

In [146]:
df_dec.drop(df_dec.index[[31,32]],inplace=True)

In [147]:
df_dec

,Day,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,RA,SN,TS,FG
0,1,18.1,28,10,1016.1,66,0,1.4,1.7,7.6,-,NaN,NaN,NaN,NaN
1,2,17.2,28.4,9.8,1015.8,73,0,1.1,1.9,11.1,-,NaN,NaN,NaN,NaN
2,3,17.4,28.4,9.2,1016.6,74,0,1.1,1.5,11.1,-,NaN,NaN,NaN,o
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,16,26.1,9.1,1014.4,81,0,1,1.1,5.4,-,NaN,NaN,NaN,o
7,8,16.6,26.2,9.6,1013.9,85,0,0.6,0,-,-,NaN,NaN,NaN,o
8,9,16.2,25.3,9.5,1013.4,81,0,0.8,2.2,14.8,-,NaN,NaN,NaN,o
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,16.5,24.5,10.8,1012.2,74,0,1.6,10.2,22.2,-,NaN,NaN,NaN,NaN
13,14,15.4,24.9,8.2,1012.8,82,0,1,0.7,3.5,-,NaN,NaN,NaN,NaN
14,15,15.5,24.9,9.4,1015.1,88,0,0.6,2.6,7.6,-,NaN,NaN,NaN,o
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
18,19,16.3,22.4,10.8,1012.8,91,0,0.6,3.1,11.1,-,NaN,NaN,NaN,o
19,20,15.4,19.7,11.6,1016,93,0,0.6,4.4,9.4,-,NaN,NaN,NaN,o
20,21,14.6,15.9,12.5,1016.9,95,0,0.5,0.4,3.5,-,NaN,NaN,NaN,o
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
24,25,13.6,20.4,7.5,1020.7,67,0,1.1,10.2,40.7,-,NaN,NaN,NaN,NaN
25,26,12.3,20.6,6.2,1019.4,71,0,1.3,4.4,18.3,-,NaN,NaN,NaN,o
26,27,11.9,17.1,6.5,1018.6,84,0.25,1.1,1.1,5.4,-,o,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o,NaN,NaN,o
30,31,14.3,19.2,10.9,1020.5,91,6.1,1.6,4.8,11.1,-,o,NaN,NaN,NaN

In [148]:
data=[df_jan,df_feb,df_mar,df_apr,df_may,df_june,df_july,df_aug,df_sep,df_oct,df_nov,df_dec]

In [ ]:
# Concating all the months

In [151]:
df_2013=pd.concat(data,ignore_index=True)

In [155]:
# droping these feature bcz they have no values in it and they are of no use

In [153]:
df_2013.drop(['Day','PP','VG','RA','SN','TS','FG'],axis=1,inplace=True)

In [156]:
df_2013.to_csv('D:\\new\\data_2013.csv',index=False)

In [157]:
pd.read_csv('D:\\new\\data_2013.csv')

        T    TM    Tm     SLP     H   VV    V    VM
0     9.1  15.3   4.0  1015.6  90.0  0.5  0.0     -
1     7.4   9.8   4.8  1017.6  93.0  0.5  4.3   9.4
2     7.8  12.7   4.4  1018.5  87.0  0.6  4.4  11.1
3     NaN   NaN   NaN     NaN   NaN  NaN  NaN   NaN
4     NaN   NaN   NaN     NaN   NaN  NaN  NaN   NaN
..    ...   ...   ...     ...   ...  ...  ...   ...
360  11.9  17.1   6.5  1018.6  84.0  1.1  1.1   5.4
361   NaN   NaN   NaN     NaN   NaN  NaN  NaN   NaN
362   NaN   NaN   NaN     NaN   NaN  NaN  NaN   NaN
363   NaN   NaN   NaN     NaN   NaN  NaN  NaN   NaN
364  14.3  19.2  10.9  1020.5  91.0  1.6  4.8  11.1

[365 rows x 8 columns]

--> This is Data for 2013 year similary we fetch the data for 2014,2015,2016,2017,2018
--> concating all the year and making the dataframe
--> these all are the independent feature so we take the dependent feature(PM2.5) so we take the dependent feature seperately